{{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data' } }) }}
    <div class="mb-3">
        {{ form_label(form.nom, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.coach, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.coach, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.coach) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.image, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.image) }}
    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
